{% extends 'auctions/layout.html' %}

{% block body %}

    <form action="" method="post">
        {% csrf_token %}
        
        {{ form }}
        
        <input type="submit" class="btn btn-primary me-1" name="submit" value="Confirm">
        {% if listing %}
            <a href="{% url 'delete-listing' listing.pk %}" class='me-1 btn btn-secondary'>Delete Item</a>
            <a href="{% url 'listing-detail' listing.pk %}" class="me-1 btn btn-secondary">Cancel</a>
        {% else %}
            <a href="{% url 'index'%}" class="me-1 btn btn-secondary">Cancel</a>
        {% endif %}
    </form>
    
{% endblock %}